@using QuinielaUI.Areas.Scores.Models
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model List<MatchDTO>
@{
}

<style>
    .actualMatch_ItemCointainer {
    }

    .actualMatch_ItemCointainer {
        display: grid;
        grid-template-areas: "mDate mDate mDate mDate mDate"
            "lFlag lGoal mVers vFlag vGoal"
            "lname lname mVers vname vname"
            "resul resul resul resul resul"
            ". . emote . .";
        border-radius: 20px;
        border-color: #FDD800;
        border-width: 2px;
        border-style: solid;
        margin: 5px;
        padding: 10px;
        align-items: center;
        justify-items: center;
    }

        .actualMatch_ItemCointainer .flag {
            justify-self: end;
            padding-right: 5px;
        }

        .actualMatch_ItemCointainer .goal {
            justify-self: start;
            padding-left: 3px;
        }

        .actualMatch_ItemCointainer .dateItem {
            grid-area: mDate;
        }

        .actualMatch_ItemCointainer .lFlagItem {
            grid-area: lFlag;
        }

        .actualMatch_ItemCointainer .lGoalItem {
            grid-area: lGoal;
        }

        .actualMatch_ItemCointainer .lnameItem {
            grid-area: lname;
        }

        .actualMatch_ItemCointainer .mVersItem {
            grid-area: mVers;
            padding-left: 13px;
            padding-right: 13px;
        }

        .actualMatch_ItemCointainer .vFlagItem {
            grid-area: vFlag;
        }

        .actualMatch_ItemCointainer .vGoalItem {
            grid-area: vGoal;
        }

        .actualMatch_ItemCointainer .vnameItem {
            grid-area: vname;
        }

        .actualMatch_ItemCointainer .resulItem {
            grid-area: resul;
            padding-top: 7px;
        }

        .actualMatch_ItemCointainer .emoteItem {
            grid-area: emote;
        }

        .actualMatch_ItemCointainer img {
            width: 46px;
            height: 30px;
            border-color: black;
            border-width: 1px;
            border-style: solid;
            background-color: black;
        }

            .actualMatch_ItemCointainer img.emote {
                height: 31px;
                width: 31px;
                background-color: transparent;
                border-width: 0px;
            }

    .roundedicon {
    }
</style>
@if (Model.Count != 0)
{
    @foreach (MatchDTO match in Model)
    {
        <div style="display:none">@match.MatchId</div>
        <div class="actualMatch_ItemCointainer">
            @if (match.Ended)
            {
                <div class="dateItem"><b>Termino</b></div>
            }
            else
            {
                <div class="dateItem">@match.StartDate.ToString("dddd dd") - @match.StartDate.ToString("HH:mm") hrs</div>
            }
            <div class="lFlagItem flag" style="grid-area:lFlag"><img src="~/img/flags/@(match.LocalID).svg"></div>
            <div class="lGoalItem goal">(@match.LocalGoals)</div>
            <div class="lnameItem">@match.LocalName</div>
            <div class="mVersItem">V.S.</div>
            <div class="vFlagItem flag"><img src="~/img/flags/@(match.VisitorID).svg"></div>
            <div class="vGoalItem goal">(@match.VisitorGoals)</div>
            <div class="vnameItem">@match.VisitorName</div>
            <div class="resulItem">

                @if (match.PlayerResult == 1)
                {

                    <div> Tu elegiste que <b>gana @(match.LocalName)</b></div>

                }
                else if (match.PlayerResult == 2)
                {

                    <div> Tu elegiste que  <b>gana @(match.VisitorName)</b></div>

                }
                else if (match.PlayerResult == 3)
                {
                    <div>Tu elegiste que <b>empatan</b></div>
                }
                else if (match.PlayerResult == null)
                {
                    <div><b>No participaste</b></div>
                }

            </div>
            <div class="emoteItem">
                @if (match.IsWining == true)
                {
                    <img class="emote" src="~/img/emoji/smilingface.png" alt="Bootstrap">
                }
                else if (match.IsWining == false)
                {
                    <img class="emote" src="~/img/emoji/cryingface.png" alt="Bootstrap">
                }
                else
                {
                    <img class="emote" src="~/img/emoji/expressionlessface.png" alt="Bootstrap">
                }
            </div>
        </div>
    }
}
else
{
    <div>
        <i class="bi bi-bell-slash-fill" style="font-size: 1rem; color: #F0483E;"></i>
        No hay partidos recientes
    </div>
}
