@model QuinielaPlayerResults
@{
    ViewData["Title"] = "Quiniela";
}

<style>
    .matchTitle {
        display: flex;
    }

        .matchTitle div {
            padding: 5px;
        }

    .correct {
        font-weight: bolder;
    }

    .team img {
        width: 30px;
        height: 20px;
    }

</style>
<h1> Hola @(Model.PlayerName) por favor llena tu quiniela</h1>

<form action="form1" method="post">
    @foreach (var group in Model.Matches.GroupBy(m => m.Group))
    {
        <h2>Grupo @(group.Key)</h2>
        @foreach (MatchGame matchGame in group)
        {
            bool matchEnded = matchGame.LocalGoals != 0 || matchGame.VisitorGoals != 0;
            <div class="match @(matchEnded?"ended":"")">
                <div class="matchTitle">
                    <div class="team @(matchGame.LocalGoals>matchGame.VisitorGoals?"correct":"")">
                        <img src="img/flags/@(matchGame.Local.Id).svg">
                        @(matchGame.Local.Name)(@(matchGame.LocalGoals))
                    </div>
                    <div>VS</div>
                    <div class="team @(matchGame.VisitorGoals>matchGame.LocalGoals?"correct":"")">
                        <img src="img/flags/@(matchGame.Visitor.Id).svg">
                        @(matchGame.Visitor.Name)(@(matchGame.VisitorGoals))
                    </div>
                </div>
                <input class="matchResult" type="radio" id="@(matchGame.Id)" name="@($"match{matchGame.Id}")" value="1" @(matchGame.Result == 1?"checked":"") @(matchEnded?"disabled":"")>
                <label for="@(matchGame.Id)">Gana</label>
                <input class="matchResult" type="radio" id="@(matchGame.Id)" name="@($"match{matchGame.Id}")" value="3" @(matchGame.Result == 3?"checked":"") @(matchEnded?"disabled":"")>
                <label for="@(matchGame.Id)">Empatan</label>
                <input class="matchResult" type="radio" id="@(matchGame.Id)" name="@($"match{matchGame.Id}")" value="2" @(matchGame.Result == 2?"checked":"") @(matchEnded?"disabled":"")>
                <label for="@(matchGame.Id)">Gana</label>
            </div>
        }
    }
</form>

<script type="text/javascript">
    var playerToken = "@(ViewBag.PlayerToken)";
    $(".matchResult").change(function () {
        console.log($(this));
        let matchId = $(this).attr('id');
        let radioName = $(this).attr('name');
        let radioValue = $("input[name='" + radioName + "']:checked").val();
        let body = { "matchId": matchId, "result": radioValue, "playerToken": playerToken };
        console.log(body);
        $.ajax({
            type: "POST",
            url: "/PlayerQuiniela/SaveResult",
            data: body
        }).done(function () {
            $(this).addClass("done");
        });
    })
</script>
